.blogpost {
  @apply flex flex-col leading-relaxed text-sm justify-center items-center ml-2 mr-2 md:ml-20 md:mr-20 mt-5 mb-5 bg-polarNight bg-opacity-90 text-gray-300 pr-5 pl-5 md:pr-10 md:pl-10 pt-3 pb-3 rounded-md;
  small {
    @apply mt-1 text-xs text-gray-400 italic self-start mb-8 lg:mb-20;
  }
  .title {
    @apply text-2xl sm:text-4xl lg:text-5xl self-start leading-tight tracking-wide mt-6 font-semibold text-snowStorm;
  }
  h1,
  h2 {
    @apply text-xl sm:text-2xl leading-tight tracking-wide my-6 font-semibold text-snowStorm;
  }
  h3,
  h4,
  h5,
  h6 {
    @apply text-lg sm:text-xl my-3 leading-tight tracking-wide font-semibold text-snowStorm;
  }
  p {
    @apply text-sm sm:text-base mb-4;
  }
  ul,
  ol {
    @apply mb-4 ml-8;
  }
  blockquote {
    @apply p-2 mx-6 bg-snowStorm-darkest text-polarNight mb-4 border-l-4 border-gray-400 italic;
  }
  img {
    @apply mx-auto lg:self-start lg:ml-1 lg:mr-0;
  }
  a {
    @apply text-frost-grayblue focus:underline focus:text-aurora-orange hover:underline;
  }
}
